body {
	font-family: 'Open Sans', sans-serif;
}

header, footer {
	background-color: #444343;
	color: #ddd;
	padding: 10px;
	text-align: center;
}
footer{
	margin-top:20px;
}
.navbar{
	margin-bottom:0;
}

aside {
	background-color: white;
	text-align: center;
	padding-top: 10px;
}

.sports-icon-list{padding-bottom: 10px; padding-top: 0px;}
.ads-div{box-sizing: border-box; padding: 15px;}
#song-desc p{margin: 0 auto; padding-top:10px;font-size:17px; }
.nav-tabs{padding-top:10px;}
.nav-tabs .active >a{background: #4261c2 !important; color: white !important;}
.tab-content p{line-height: 24px; font-weight:bold;}
.nav-tabs :not(.active) >a{    border: 1px solid gray !important; border-radius: 5px !important;}
.h2-color{color:#4261c2}
h1{font-size:20px; font-weight:bold; text-align: center;}

#song-desc img{margin: 0 auto;border-radius: 5px;}

.hitSongsDiv{padding-right: 0;font-size: 11px;}
.hitSongs{list-style-type: none; text-align: left; padding-left:0;}
.hitSongs h3{background: black; color: white; padding: 15px 5px; text-align: left; border-bottom: 8px solid white;}
.hitSongs a:first-of-type li{border-top: 2px solid gray;}
.hitSongs img{height:48px !important; margin-right:20px;}
.hitSongs li{height: 50px; vertical-align: middle; background: #f6f6f3; border-bottom: 2px solid gray; color: black; font-weight: bold;}
.hitSongs li:hover{background-color:#4261c2; color:white;}
.singers-div{width:100px;}